*{
    padding:0;
    margin:0;
    box-sizing: content-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    font-size: small;
   
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top:0;
    width:100%;
    max-height:70px;
    padding: 10px;
    background-color: blue;
    position: fixed;
    z-index:  1000;
}
header h1{
font-size:30px;
direction: row;
color: black;
}
nav{
    display: flex;
    flex-direction: row;
    margin-right:500px;
    gap:5px;
   
}
nav ul{
    list-style:none;
    display:flex;

}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:highlight{
    color: black;
}
aside{
width: 150px;
left: 0;
float: left;
position: fixed;
height:100vh;
padding:20px;
background-color: white;
margin: top 72px; ;
}
aside ul{
    list-style: none;
    padding:20px;
    margin: top 20px;
}
aside ul li{
    margin: bottom 10px;
    text-align: left;
    margin: left 20px;
}
aside ul li a{
    text-decoration: underline;
    color: white;
    font-weight: bolder;
}
aside ul li :autofill{
    color: white;
}
main{
    margin-left:160px;
    padding: 20px;
    min-height: 100vh;
    margin-top:50px;
}
.outer{
    display: flex;
    flex-direction: row;
    gap:20px;
    background-color: white;
    padding: 20px;
    border: radius 10px;
    margin: bottom 10px;
}
.image{
    width: 150px;
    height: 150px;
    margin: right 20px;
}
.image img{
    width:150px;
    height: 150px;
}
.content{
    margin-left:10px;
    margin-top: 20px; ;
    text-align: center;
}
.first-section{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-top:20px;
}
.box{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding:20px;
    border: radius 10px;
    margin: bottom 15px;
    width: 300px;
    height: 350px;
    align-items: center;
}
.box:hover{
    background-color: white;
    box-shadow: inset;
    transform: translateX(-5px);
    transition: all;
}
.pic img{
    width: 150px;
    height: 150px;
}
.details{
    text-align: center;
    display: flex;
    flex-direction: row;
    margin:-20px;
}
.details h2{
    font-size: 18px;
}
.details p{
    font-size:14px;
    display: flex;
    flex-direction: row;
    margin-top:-20px;
}

.basket{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
}
.container{
    position: fixed;
    width:100%;
    background-color: white;
    padding: 15px;
}
.container h4{
    text-decoration: underline;
}
.divide{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: top 40px;
}
.get{
    margin-top: 100px;
    padding: 15px;
    border-radius: 5px;;
}
.form-details{
    margin-right: 500px;
    background-color: white;
    padding: 20px;
    border: radius 100px;
    width: 100px;
}
.form-details h2{
    text-align: center;
    margin: bottom 20px;
}
.form-details form{
    text-align: center;
    margin: bottom 20%;
}
.post{
    display: flex;
    flex-direction: row;
}
.post label{
    font-weight: bold;
}
.post input, .post textarea{
    padding:10px;
    margin: bottom 15px;
    border:1px;
    border: radius 5px;
    width:100%;
}
.post button:hover{
    background-color: green;
}
footer{
    background-color: green;
    color: white;
    text-align: center;
    margin: top 60px;
    width:100%;
    height: 20px;
}